{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1> Over Comicfire </h1>
                </div>
                <div class="aboutwrap">
                <div class="abouttext">
				<div class="servicetext">
                <p>
                    <br>
                    Comicfire is een webshop speciaal gemaakt voor strips en manga. Wij zijn een Nederlandse bedrijf en richten ons momenteel vooral op de verkoop van Marvel en DC comics. Er wordt ook hard gewerkt om meer (verschillende) producten voor u beschikbaar te maken!
                    <br>
                    <br>
                    Comicfire is een prachtige combinatie van hobby en hard werk. Onze productkennis komt voort uit jaren fanatiek verzamelen en dit ziet u direct terug in onze service. Wij garanderen strips van uitstekende kwaliteit!
                    <br>
                    <br>
                    Ben je opzoek naar een bepaald product en kan je het niet vinden op Comicfire? Laat het ons weten via een contactformulier en dan zullen wij ons best doen om dit product toch te kunnen leveren!
                    <br>
                    <br>
                    <i><b>Comicfire</b></i>
                    <br>
                    <br>
                </p>
				</div>
                </div>
            </div>
        </div>
    </div>
        </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock%}
