{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1> Over ComicFire </h1>
                </div>
                <div class="aboutwrap">
                <div class="abouttext">
                <p>
                    <br>
                        Welkom bij ComicFire, dé plaats voor de hotste strips en manga! ComicFire is een webshop gemaakt door en voor stripfanaten, dus tik gerust wat in de zoekbalk en ontdek ons ruime assortiment.
                    <br>
                    <br>
                        Hier ziet u het resultaat van de prachtige combinatie van hobby en werk. Met onze productkennis, die gebaseerd is op jaren van lezen en discussieren, staan wij alle klanten natuurlijk graag bij. Voor vragen kunt u natuurlijk te recht bij onze contactpagina.
                    <br>
                    <br>
                        Wij kunnen ook garanderen dat alle door ons verkochte producten van goede kwaliteit zijn. Is een product niet zols u had verwacht? U kunt altijd contact met ons opnemen over onze geld terug service.
                    <br>
                    <br>
                    <br>
                    <br>
                        DISCLAIMER
                    <br>
                        ComicFire.com is een project van studenten van de Hogeschool Rotterdam. Het is bij ons NIET mogelijk producten te bestellen.
                    <br>
                    <br>
                </p>
                </div>
            </div>
        </div>
    </div>
        </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock%}
