{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1> Over Comicfire </h1>
                </div>
                <div class="aboutwrap">
                <div class="abouttext">
				<div class="servicetext">
                <p>
                    <br>
                    Comicfire is een online webshop gemaakt voor de meest exclusieve strips en manga's. We zijn een Nederlandse vestiging die als extentie van de Amerikaanse Marvel en DC bedrijven functioneert. We zijn helemaal weg van stipfanaten en zijn daarom trots deze site voor allerman te presenteren!
                    <br>
                    <br>
                    En wat is er mooier dan je werk en je hobby te combineren? Het resultaat is een moderne en gebruiksvriendelijke webwinkel met een assortiment om van te smullen. Onze productkennis en ons respect voor jouw gemak vertalen zich in een breed gefilterd productaanbod. Alleen de meest hoogwaardige novels verdienen een plekje in onze virtuele schappen. Strips en manga's waar je nog vele jaren van kunt genieten.
                    <br>
                    <br>
                    Ben je opzoek naar een bepaald product en kan je het niet vinden op Comicfire? Laat het ons graag weten en wij zullen ons best doen om dit product toch te kunnen leveren!
                    <br>
                    <br>
                    <i><b>Comicfire</b></i>
                    <br>
                    <br>
                </p>
				</div>
                </div>
            </div>
        </div>
    </div>
        </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock%}
