{% extends 'frames/base.html' %}
{% block content %}
<div class="bars sidecolors">
    {% include 'includes/nieuwproduct.html' %}
</div>
<div class="aboutmid">
    <div class="qrs">
        <div class="loginsec commontextbox">
            <div class="sorton commoncolor">
                <h1> Adres gegevens </h1>
            </div>
            <div class="loginwrap">
                <div class="loginsection3">
                    <div class="adresform">
                    <form method="post">
                      {% csrf_token %}
                      {{ accountinfo_form.as_p }}
                      {{ account_form.as_p }}
                      <button type="submit">Opslaan</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right sidecolors">
    {% include 'includes/aanbieding.html' %}
</div>
{% endblock %}
