{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1> Betalingsregeling </h1>
                </div>
                <div class="aboutwrap">
                <div class="servicetext">
                    <p>
                        <p>Als uitvoering van de compromie tussen de WebwinkelKeur en Comicfire, is het op deze webshop enkel mogelijk om te betalen met uw persoonlijke creditcardgegevesn. Dit is uit beleid van uw eigen veligheid van uw transactie wat bij ons de top prioriteit heeft. Uw gegevens zullen niet door ons opgeslagen worden tenzij zelf geadviseerd, om uw gegevens zo discreet mogelijk te houden.</p>
                        <p>In the nabije toekomst zal het ook mogelijk zijn te kunnen betalen met PayPal. Wanneer deze toevoeging ingevoerd wordt zal deze pagina geüpdate worden die overige informatie over deze betalingswijze verstrekt.</p>
                    <br>
                        <i><b>Comicfire</b></i>
                    <br>
                    <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
        </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock%}