{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1>Vul in</h1>
                </div>
                <div class="abouttext">
                    <form role="form" action="" method="post">
                        {% csrf_token %}
                        {{checkoutform}}
                     <input type="submit" id="checkoutsubmit" name="checkoutsubmitbutton">
                  </form>
                </div>
            </div>
        </div>
    </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock%}