{% extends 'frames/base.html' %} 
{% block content %} 
<div class="bars sidecolors">
    {% include 'includes/nieuwproduct.html' %}
</div>
<div class="faqmid">
    <div class="faqwrap">
        <div class="sorton commoncolor" style="margin-top: 0;">
            <h1>Veel Gestelde Vragen</h1>
        </div>
        <div class="faqsection commontextbox">
            <p class="questions">Worden de producten internationaal bezorgd? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel generalpanel" style="display: none;">
                <p>Producten worden niet internationaal geleverd. Comicfire richt zich enkel op het leveren van stripboeken en manga's binnen Nederland.</p>
            </div>
            <p class="questions1 generalquestions">Hoelang duurt het voortaan ik mijn bestelling ontvang? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel1 generalpanel" style="display: none;">
                <p>Wij doen er natuurlijk alles aan om u uw bestelling zo snel mogelijk te kunnen leveren. U kunt uw pakket binnen 7 werkdagen op de deurmat verwachten.</p>
            </div>
            <p class="questions2 generalquestions">Kan ik mijn bestelling retourneren en mijn geld terug krijgen? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel2 generalpanel" style="display: none;">
                <p>Niet tevreden? Zonder opgegeven reden kunt u binnen 14 dagen na ontvangst kosteloos retourneren.</p>
            </div>
            <p class="questions3 generalquestions">Van welke verschillende betalingsmiddelen kan ik gebruik maken?<i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel3 generalpanel" style="display: none;">
                <p>Momenteel kunt u alleen betalen met uw Creditcard. Ons team is momenteel hard bezig om nog meer betalingsmethoden toe te voegen.</p>
            </div>
            <p></p>
            <p class="questions4 generalquestions">Waar kan ik zien of een product op voorraad is? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel4 generalpanel" style="display: none;">
                <p>Zolang op de individuele productpagina niet is aangegeven dat een product niet meer beschikbaar is, is het product op voorraad. Mogelijk hebben producten met een lage voorraad een langere levertijd.</p>
            </div>
            <p></p>
            <p class="questions5 generalquestions">Waar kan ik ComicFire vinden en/of waar kan ik mijn retourneringen naartoe sturen?<i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel5 generalpanel" style="display: none;">
                <p>Onze vestiging bevindt zich op het adres: Wijnhaven 107, Rotterdam.</p>
            </div>
            <p></p>
        </div>
    </div>
</div>
<div class="right sidecolors">
    {% include 'includes/aanbieding.html' %}
</div>
{% endblock%}
