{% extends 'frames/base.html' %} 
{% block content %} 
		<div class="right sidecolors">
	<div class="promoted">
		<div class="sale">
			<div class="salep">
				<p>Nu in de uitverkoop</p>
			</div>
			<div class="comicslides fade" style="display: block;">
				<img src="https://i.annihil.us/u/prod/marvel/i/mg/6/10/4bb440850f56b/portrait_incredible.jpg">
				<p class="promoprice">€ 14.99</p>
			</div>
			<div class="comicslides fade" style="display: none;">
				<img src="https://i.annihil.us/u/prod/marvel/i/mg/7/80/59b93f48d26d9/portrait_incredible.jpg">
				<p class="promoprice">€ 16.99</p>
			</div>
			<div class="comicslides fade" style="display: none;">
				<img src="https://i.annihil.us/u/prod/marvel/i/mg/6/50/5811114de7c6f/portrait_incredible.jpg">
				<p class="promoprice">€ 14.99</p>
			</div>
			<div style="text-align:center; margin-bottom: 40px;">
				<span class="dot active"></span> <span class="dot"></span> <span class="dot"></span>
			</div>
			<script>
			 var slideIndex = 0;
			 showSlides();

			 function showSlides() {
			     var i;
			     var slides = document.getElementsByClassName("comicslides");
			     var dots = document.getElementsByClassName("dot");
			     for (i = 0; i < slides.length; i++) {
			        slides[i].style.display = "none";  
			     }
			     slideIndex++;
			     if (slideIndex > slides.length) {slideIndex = 1}    
			     for (i = 0; i < dots.length; i++) {
			         dots[i].className = dots[i].className.replace(" active", "");
			     }
			     slides[slideIndex-1].style.display = "block";  
			     dots[slideIndex-1].className += " active";
			     setTimeout(showSlides, 4000); // Change image every 2 seconds
			 }
			</script>
		</div>
	</div>
	<div class="line"></div>
	<!-- <p class="commoncolor" id="righttext">We garanderen de beste quality stripboeken, voor de laagste prijs!</p> --->
	<img src="https://www.dotan.com/images/payment-1.png" width="100%"></div>
        
		<div class="bars sidecolors">
			<div class="promoted">
				<div class="sale" id="arrivewrap">
					<div class="salep" id="arrive">
						<p>New Arrival</p>
					</div><img src="https://i.annihil.us/u/prod/marvel/i/mg/6/e0/5988e0273d1fc/portrait_incredible.jpg">
					<p style="color: grey;font-size: 13px;text-align: center;">Marvel</p>
					<p style="color: #635c5c; font-size: 20px; text-align: center; margin: 0; margin-bottom: 20px">Daredevil</p>
				</div>
			</div>
		</div>
		<div class="faqmid">
			<div class="faqwrap">
				<div class="sorton commoncolor" style="margin-top: 0;">
					<h1>Veel gestelde vragen</h1>
				</div>
				<div class="faqsection commontextbox">
					<p class="questions">Worden de producten internationaal bezorgd? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
					<div class="panel generalpanel" style="display: none;">
						<p>We leveren geen producten internationaal. Dit bedrijf richt zich enkel op het leveren van stripboeken en manga's binnen Nederland.</p>
					</div>
					<p class="questions1 generalquestions">Hoelang duurt het voortaan ik mijn bestelling ontvang? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
					<div class="panel1 generalpanel" style="display: none;">
						<p>De levertijd kan variëren van 1 tot 3 werkdagen, varierend op uw locatie en de bestellingstijd. Als u voor 17:30 een bestelling heeft geplaatst, heeft u morgen uw product in huis.</p>
					</div>
					<p class="questions2 generalquestions">Kan ik mijn bestelling retourneren en mijn geld terug krijgen? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
					<div class="panel2 generalpanel" style="display: none;">
						<p>Zo lang u binnen 14 dagen uw pakketje retourneerd naar ons adres, zal u uw geld teruggestort krijgen binnen 24 uur.</p>
					</div>
					<p></p>
					<p class="questions3 generalquestions">Van welke verschillende betalingsmiddelen kan ik gebruik maken?<i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
					<div class="panel3 generalpanel" style="display: none;">
						<p>Voor uw betaling kunt u gebruik maken van Paypal, of u kunt ervoor kiezen een betalingsverificatie via uw mail uit te voeren.</p>
					</div>
					<p></p>
					<p class="questions4 generalquestions">Waar kan ik zien of een product op voorraad is? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
					<div class="panel4 generalpanel" style="display: none;">
						<p>Zolang het niet op de individuele productpagina is aangegeven dat een product niet meer beschikbaar is, is het product op voorraad.</p>
					</div>
					<p></p>
					<p class="questions5 generalquestions">Waar kan ik ComicFire vinden en/of waar kan ik mijn bestelling naartoe sturen?<i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
					<div class="panel5 generalpanel" style="display: none;">
						<p>Onze vestiging bevindt zich op het adres: Wijhaven 27, te Rotterdam.</p>
					</div>
					<p></p>
				</div>
			</div>
		</div>
{% endblock%}
