{% extends 'frames/base.html' %} 
{% block content %} 
<div class="bars sidecolors">
    {% include 'includes/nieuwproduct.html' %}
</div>
<div class="faqmid">
    <div class="faqwrap">
        <div class="sorton commoncolor" style="margin-top: 0;">
            <h1>Veel gestelde vragen</h1>
        </div>
        <div class="faqsection commontextbox">
            <p class="questions">Worden de producten internationaal bezorgd? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel generalpanel" style="display: none;">
                <p>ComicFire levert geen producten internationaal. Wij richten ons enkel op het leveren van stripboeken en manga's binnen Nederland.</p>
            </div>
            <p class="questions1 generalquestions">Hoelang duurt het voordat ik mijn bestelling ontvang? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel1 generalpanel" style="display: none;">
                <p>Wij streven ernaar om producten binnen 3 werkdagen geleverd te laten worden. Bestellingen die voor 17:00 geplaatst worden verzenden wij dezelfde dag.</p>
            </div>
            <p class="questions2 generalquestions">Kan ik mijn bestelling retourneren en mijn geld terug krijgen? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel2 generalpanel" style="display: none;">
                <p>ComicFire houdt zich aan de wet Koop op Afstand. Dit houdt in dat er bij ons binnen 7 dagen kosteloos geretourneerd kan worden. Voor meer informatie, zie <a href="https://www.webwinkelopzetten.nl/wetkoopopafstand.html">Wetgeving Webshops</a></p>
            </div>
            <p></p>
            <p class="questions3 generalquestions">Van welke verschillende betalingsmiddelen kan ik gebruik maken?<i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel3 generalpanel" style="display: none;">
                <p>Momenteel kan er bij ComicFire.com alleen betaald worden met de creditcard. Wij zijn hard bezig om meer betaalmethoden toe te voegen.</p>
            </div>
            <p></p>
            <p class="questions4 generalquestions">Waar kan ik zien of een product op voorraad is? <i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel4 generalpanel" style="display: none;">
                <p>Zolang er niet op de individuele productpagina is aangegeven dat een product niet meer beschikbaar is, is het product op voorraad. Actuele voorraad kan afwijken van de aangegeven hoeveelheid.</p>
            </div>
            <p></p>
            <p class="questions5 generalquestions">Waar kan ik ComicFire vinden en/of waar kan ik mijn bestelling naartoe sturen?<i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i></p>
            <div class="panel5 generalpanel" style="display: none;">
                <p>Onze vestiging bevindt zich op het adres: Wijnhaven 107 te Rotterdam. Voor meer informatie, zie onze <a href="/contact/">Contact pagina</a>.</p>
            </div>
            <p></p>
        </div>
    </div>
</div>
<div class="right sidecolors">
    {% include 'includes/aanbieding.html' %}
</div>
{% endblock%}
