{% extends "frames/base.html" %}

{% block content %}
<div class="content">

<div class="bars sidecolors">
    <div class="barwrap">
        <div class="leftbar commoncolor">
            <p>Taal<i class="fa fa-sort-desc" aria-hidden="true" id="sortdown"></i></p>
        </div>
        <div class="bartext">
            <input type="checkbox" name="vehicle" value="English" id="english">
            <label for="english"></label>
            <p>Engels</p>
            <br>
            <input type="checkbox" name="vehicle" value="Dutch" id="dutch">
            <label for="dutch"></label>
            <p>Nederlands</p>
            <br>
        </div>
    </div>

    <div class="barwrap">
        <div class="leftbar commoncolor">
            <p>Type Boek<i class="fa fa-sort-desc" aria-hidden="true" id="sortdown"></i></p>
        </div>
        <div class="bartext">
            <input type="checkbox" name="vehicle" id="manga">
            <label for="manga"></label>
            <p>Manga</p>
            <br>
            <input type="checkbox" name="vehicle" id="comic">
            <label for="comic"></label>
            <p>Comic</p>
            <br>
            <input type="checkbox" name="vehicle" id="shortstory">
            <label for="shortstory"></label>
            <p>Short Story</p>
            <br>
        </div>
    </div>

    <div class="barwrap">
        <div class="leftbar commoncolor">
            <p>Uitgever<i class="fa fa-sort-desc" aria-hidden="true" id="sortdown"></i></p>
        </div>
        <div class="bartext">
            <input type="checkbox" name="vehicle" id="marvel">
            <label for="marvel"></label>
            <p>Marvel</p>
            <br>
            <input type="checkbox" name="vehicle" id="dc">
            <label for="dc"></label>
            <p>DC</p>
            <br>
        </div>
    </div>

    <div class="barwrap">
        <div class="leftbar commoncolor">
            <p>Prijs<i class="fa fa-sort-desc" aria-hidden="true" id="sortdown"></i></p>
        </div>
        <div class="bartext price center">
            <p>€</p>
            <input type="textbox" name="pmin" value="0">
            <p>to</p>
            <p>€</p>
            <input type="textbox" name="pmax" value="100">
            <br>
        </div>

    </div>
    <div class="barwrap">
        <div class="leftbar commoncolor">
            <p>Minimale Score<i class="fa fa-sort-desc" aria-hidden="true" id="sortdown"></i></p>
        </div>
        <div class="bartext">
            <input type="checkbox" name="vehicle" value="English" id="one">
            <label for="one"></label>
            <p><i class="fa fa-star" aria-hidden="true"></i></p>
            <br>
            <input type="checkbox" name="vehicle" value="English" id="two">
            <label for="two"></label>
            <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
            <br>
            <input type="checkbox" name="vehicle" value="English" id="three">
            <label for="three"></label>
            <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
            <br>
            <input type="checkbox" name="vehicle" value="English" id="four">
            <label for="four"></label>
            <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
            <br>
            <input type="checkbox" name="vehicle" value="English" id="five">
            <label for="five"></label>
            <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>

            <br>
            <br>
        </div>
    </div>
</div>
    <div class="mid">

    <div class="qrs">
<div class="sorton commoncolor"><p>Totale Resultaten: </p><p id="fifteen">15</p><p></p><select name=" sort" =""=""><option>Naam</option><option>Prijs: Oplopend</option>
<option>Prijs: Aflopend</option></select><p id="sortp">Sorteren op: </p></div><ul class="list">
        <li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/6/10/4bb440850f56b/portrait_incredible.jpg" id="zoom_05" data-zoom-image="https://i.pinimg.com/736x/86/ff/e2/86ffe2b49daf0feed78a1c336753696d--black-panther-comic-digital-comics.jpg"><p class="author">Marvel</p><p class="name">The Invincible Iron Man</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 14.99</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li><li>
    <div class="productwrap"><img src="https://i.pinimg.com/736x/86/ff/e2/86ffe2b49daf0feed78a1c336753696d--black-panther-comic-digital-comics.jpg"><p class="author">Marvel</p><p class="name">Black Panther</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 11.99</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li>
        <li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/6/50/5811114de7c6f/portrait_incredible.jpg"><p class="author">Marvel</p><p class="name">Avengers</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 17.99</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li>

</ul>

<ul class="list">
        <li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/f/d0/4f23010f28723/portrait_incredible.png"><p class="author">Marvel</p><p class="name">The Incredible Hulk</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 15.50</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li><li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/6/e0/5988e0273d1fc/portrait_incredible.jpg"><p class="author">Marvel</p><p class="name">DareDevil</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 13.99</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li>
        <li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/9/a0/59b04cda59f90/portrait_incredible.jpg"><p class="author">Marvel</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="name">The Amazing Spider-man</p><p class="price">€ 11.99</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li>

</ul>
<ul class="list">
        <li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/c/50/4bb5ec0c9c709/portrait_incredible.jpg"><p class="author">Marvel</p><p class="name">Captain America</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 11.99</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li><li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/6/c0/58544bee7b291/portrait_incredible.jpg"><p class="author">Marvel</p><p class="name">Wolverine</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 10.99</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li>
        <li>
    <div class="productwrap"><img src="https://i.pinimg.com/736x/bf/5f/1d/bf5f1da9dc4c9453c283775bbeb107c6--fantastic-four-marvel.jpg"><p class="author">Marvel</p><p class="name">Fantastic Four</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 12.50</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li>

</ul><ul class="list">
        <li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/8/c0/51914a6cdaf20/portrait_incredible.jpg"><p class="author">Marvel</p><p class="name">Gambit</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 19.99</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li><li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/8/e0/59b04cb0bb952/portrait_incredible.jpg"><p class="author">Marvel</p><p class="name">Deadpool</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 19.99</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li>
        <li>
    <div class="productwrap"><img src="https://i.pinimg.com/236x/86/51/eb/8651ebeecae62b300c55c3e034e4176d--marvel-wolverine-marvel-dc.jpg"><p class="author">Marvel</p><p class="name">X-Men Legacy</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 13.50</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li>

</ul><ul class="list">
        <li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/7/80/59b93f48d26d9/portrait_incredible.jpg"><p class="author">Marvel</p><p class="name">Venomverse</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 11.99</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li><li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/3/90/582616f07b2d7/portrait_incredible.jpg"><p class="author">Marvel</p><p class="name">Red Widow</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 15.00</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li>
        <li>
    <div class="productwrap"><img src="https://i.annihil.us/u/prod/marvel/i/mg/5/e0/558b1f30d6b03/portrait_incredible.jpg"><p class="author">Marvel</p><p class="name">Future Fight</p><p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 16.90</p><p class="addtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i></p><p class="wishlist"><i class="fa fa-heart" aria-hidden="true"></i></p><p class="stock">In de uitverkoop</p></div>
</li>

</ul>

    </div>
    </div>

<div class="right sidecolors"><div class="promoted"><div class="sale"><div class="salep"><p>Nu in de uitverkoop</p></div>


<div class="comicslides fade" style="display: none;">
  
  <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/10/4bb440850f56b/portrait_incredible.jpg">
  <p class="promoprice">€ 14.99</p>
</div>

<div class="comicslides fade" style="display: block;">
  
  <img src="https://i.annihil.us/u/prod/marvel/i/mg/7/80/59b93f48d26d9/portrait_incredible.jpg">
  <p class="promoprice">€ 16.99</p>
</div>

<div class="comicslides fade" style="display: none;">
  
  <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/50/5811114de7c6f/portrait_incredible.jpg">
  <p class="promoprice">€ 14.99</p>
</div>

<div style="text-align:center; margin-bottom: 40px;">
  <span class="dot"></span> 
  <span class="dot active"></span> 
  <span class="dot"></span> 
</div>

	<script>
	var slideIndex = 0;
	showSlides();

	function showSlides() {
		var i;
		var slides = document.getElementsByClassName("comicslides");
		var dots = document.getElementsByClassName("dot");
		for (i = 0; i < slides.length; i++) {
		   slides[i].style.display = "none";  
		}
		slideIndex++;
		if (slideIndex > slides.length) {slideIndex = 1}    
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex-1].style.display = "block";  
		dots[slideIndex-1].className += " active";
		setTimeout(showSlides, 4000); // Change image every 2 seconds
	}
	</script>

</div></div><div class="line"></div>

    <p id="righttext" class="commoncolor">We garanderen de beste quality stripboeken, voor de laagste prijs!</p>
    <img src="https://www.dotan.com/images/payment-1.png" width="100%">

    </div>
</div>
{% endblock %}
