{% extends "frames/base.html" %}
{% load custom_tags %}
{% block content %}
<div class="bars sidecolors">
</div>
<div class="mid">
   <div class="qrs">
      <div class="sorton commoncolor" style="border-radius: 3px">
         <p>Totale Resultaten: </p>
         <p id="fifteen">15</p>
         <p></p>
         <select name=" sort" =""="">
         <option>Naam</option>
         <option>Prijs: Oplopend</option>
         <option>Prijs: Aflopend</option>
         </select>
         <p id="sortp">Sorteren op: </p>
      </div>

      <form role='form' method='post' name='productactions'>
        {% csrf_token %}
        {% autoescape off %}{% listloop user.is_authenticated %}{% endautoescape %}
      </form>
   </div>
</div>
{% endblock %}
