{% extends 'frames/base.html' %}

{% block content %}
  <div class="bars sidecolors">
    <div class="promoted">
      <div class="sale" id="arrivewrap">
        <div class="salep" id="arrive">
          <p>New Arrival</p>
        </div>
        <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/e0/5988e0273d1fc/portrait_incredible.jpg">
        <p style="color: grey;font-size: 13px;text-align: center;">Marvel</p>
        <p style="color: #635c5c; font-size: 20px; text-align: center; margin: 0; margin-bottom: 20px">Daredevil</p>
      </div>
    </div>
  </div>
    <div class="aboutmid">
      <div class="qrs">
        <div class="loginsec commontextbox">
          <div class="sorton commoncolor">
            <h1> Inloggen </h1>
          </div>
          <div class="loginwrap">
            <div class="loginsection">
                <form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Login</button>
				</form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
