{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1> Privacybeleid Comicfire </h1>
                </div>
                <div class="aboutwrap">
                <div class="servicetext">

                    <br>
                        <i>Deze pagina is voor het laatst aangepast op 6 december 2017.</i>
                    <p>
                    <br>
                        <p>Wij zijn er van bewust dat u vertrouwen stelt in ons. Wij zien het dan ook als onze verantwoordelijkheid om uw privacy te beschermen. Op deze pagina laten we u weten welke gegevens we verzamelen als u onze website gebruikt, waarom we deze gegevens verzamelen en hoe we hiermee uw gebruikservaring verbeteren. Zo snapt u precies hoe wij werken.</p>
                        <p>Dit privacybeleid is van toepassing op de diensten van Comicfire. U dient zich ervan bewust te zijn dat Comicfire niet verantwoordelijk is voor het privacybeleid van andere sites en bronnen. Door gebruik te maken van deze website geeft u aan het privacy beleid te accepteren.</p>
                        <p>Comicfire respecteert de privacy van alle gebruikers van haar site en draagt er zorg voor dat de persoonlijke informatie die u ons verschaft vertrouwelijk wordt behandeld.</p>
                    <br>
                        <b>Gebruik van onze diensten</b>
                        <p>Wanneer u zich aanmeldt voor een van onze diensten vragen we u om persoonsgegevens te verstrekken. Deze gegevens worden gebruikt om de dienst uit te kunnen voeren. De gegevens worden opgeslagen op eigen beveiligde servers van Comicfire of die van een derde partij. Wij zullen deze gegevens niet combineren met andere persoonlijke gegevens waarover wij beschikken.</p>
                    <br>
                        <b>Communicatie</b>
                        <p>Wanneer u e-mail of andere berichten naar ons verzendt, is het mogelijk dat we die berichten bewaren. Soms vragen wij u naar uw persoonlijke gegevens die voor de desbetreffende situatie relevant zijn. Dit maakt het mogelijk uw vragen te verwerken en uw verzoeken te beantwoorden.</p>
                    <br>
                        <b>Doeleinden</b>
                        <p>We verzamelen of gebruiken geen informatie voor andere doeleinden dan de doeleinden die worden beschreven in dit privacybeleid tenzij we van tevoren uw toestemming hiervoor hebben verkregen.</p>
                    <br>
                        <b>Derden</b>
                        <p>De informatie wordt niet met derden gedeeld met uitzondering van webapplicaties welke wij gebruiken ten behoeve van onze webwinkel. Hieronder valt o.a. het WebwinkelKeur beoordelingen systeem. Deze gegevens zullen enkel gebruikt worden ten behoeve van het doel van de betreffende applicatie en zullen niet verder verspreid worden. Verder kan in enkele gevallen de informatie intern gedeeld worden. Onze werknemers zijn verplicht om de vertrouwelijkheid van uw gegevens te respecteren.</p>
                    <br>
                        <b>Veranderingen</b>
                        <p>Deze privacyverklaring is afgestemd op het gebruik van en de mogelijkheden op deze site. Eventuele aanpassingen en/of veranderingen van deze site, kunnen leiden tot wijzigingen in deze privacyverklaring. Het is daarom raadzaam om regelmatig deze privacyverklaring te raadplegen.</p>
                    <br>
                        <b>Keuzes voor persoonsgegevens</b>
                        <p>Wij bieden alle bezoekers de mogelijkheid tot het inzien, veranderen, of verwijderen van alle persoonlijke informatie die op moment aan ons is verstrekt.</p>
                    <br>
                        <b>Vragen en feedback</b>
                    <br>
                        <p>We controleren regelmatig of we aan dit privacybeleid voldoen. Als u vragen heeft over dit privacybeleid, kunt u contact met ons opnemen:</p>
                    <br>
                        <i><b>Comicfire</b></i>
                    <br>
                    <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
        </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock%}