{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1>Maak a.u.b. een keuze:</h1>
                </div>
                <div class="loginwrap2">
                    <div class="loginleft">
                        <div class="loginsection2">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="loginbutton" name="loginbutton">Login</button>
                            </form>
                        </div>
                    </div>
                    <div class="loginright">
                        <form action="/customerdetails/">
                            <input type="submit" value="Verder gaan als gast" />
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock%}