{% extends 'frames/base.html' %}

{% block content %}
<div class="content">
    <div class="bars sidecolors"><div class="promoted"><div class="sale" id="arrivewrap"><div class="salep" id="arrive"><p>New Arrival</p></div><img src="https://i.annihil.us/u/prod/marvel/i/mg/6/e0/5988e0273d1fc/portrait_incredible.jpg"><p style="color: grey;font-size: 13px;text-align: center;">Marvel</p><p style="color: #635c5c; font-size: 20px; text-align: center; margin: 0; margin-bottom: 20px">Daredevil</p></div></div></div>
  <div class="faqmid"><div class="productinfowrap"><div class="sorton commoncolor" style="margin-top: 0;"><h1>Product Info</h1></div>
    
    <div class="imgsection">
    
<img src="https://i.annihil.us/u/prod/marvel/i/mg/6/10/4bb440850f56b/portrait_incredible.jpg" id="zoom_05" data-zoom-image="https://i.pinimg.com/736x/86/ff/e2/86ffe2b49daf0feed78a1c336753696d--black-panther-comic-digital-comics.jpg">
    <p>Marvel</p>    
    <h1> The Invincible Iron-Man </h1><p style="color: #746c6c"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p><p class="price">€ 14.99</p><p class="stock">In stock</p>
    <p class="productaddtocart"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</p><p></p><p></p><p></p><p class="productwishlist"><i class="fa fa-heart" aria-hidden="true"></i>Add to wishlist</p><p></p>
    </div>
    <div class="descsection"><h1>Comic Description</h1><p>Iron Man's world is crumbling down around him. With Madame Masque bombing Stark Industries and Midas plotting against him, the Iron Avenger is running out of option! Read to find out what happens in the beginning of the end!</p> </div><div class="furtherdescsection"><div class="authorsection"><p>Author: Archie Goodwin</p> <p>Publisher: Hachette Partworks Ltd</p></div><p>English |</p><p>150 pages   |</p><p>9789024576791 |</p><p>January 2016</p>
</div>

    </div>
    
    <div class="suggesteditems"><div class="suggesteditemsbar"><h1>Suggested Products</h1></div><ul class="ulsugg"><li><img src="https://i.pinimg.com/736x/86/ff/e2/86ffe2b49daf0feed78a1c336753696d--black-panther-comic-digital-comics.jpg"><p>The Black Panther</p><p>€11.99</p></li><li><img src="https://i.annihil.us/u/prod/marvel/i/mg/6/50/5811114de7c6f/portrait_incredible.jpg"><p>The Avengers</p><p>€17.99</p></li><li class=""><img src="https://i.annihil.us/u/prod/marvel/i/mg/6/e0/5988e0273d1fc/portrait_incredible.jpg"><p>DareDevil</p><p>€13.99</p></li></ul></div>
    </div>
    
   <div class="right sidecolors"><div class="promoted"><div class="sale"><div class="salep"><p>Now on Sale</p></div><img src="https://i.annihil.us/u/prod/marvel/i/mg/6/10/4bb440850f56b/portrait_incredible.jpg"><p style="text-decoration: line-through;color: grey;font-size: 11px;text-align: center;position: relative;margin: 0;">€ 19.99</p><p class="promoprice">€ 14.99</p></div></div></div>
    
    </div>
{% endblock%}
