{% extends 'frames/base.html' %}
{% load custom_tags %}
{% block content %}
<div class="content">
   <div class="bars sidecolors">
       {% include 'includes/nieuwproduct.html' %}
   </div>
   <div class="faqmid">
      <div class="productinfowrap">
         <div class="sorton commoncolor" style="margin-top: 0;">
            <h1>Product informatie</h1>
         </div>
         <div class="imgsection">
            <img src="{{prodImage}}" id="zoom_05" data-zoom-image="https://i.pinimg.com/736x/86/ff/e2/86ffe2b49daf0feed78a1c336753696d--black-panther-comic-digital-comics.jpg">
            <p>{{prodPublisher}}</p>
            <p style="color: #746c6c">
				{% for x in prodRating %}
					<i class="fa fa-star" aria-hidden="true"></i>
				{% endfor %}
			</p>
            <p class="stock">In stock</p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
         </div>
         <div class="descsectionwrap">
            <div class="descsection">
               <div class="deschead">
                  <div class="descpricesection">
                     <p class="priceproductpage"> € {{prodPrice}} </p>
                  </div>
                  <div class="desctitlesection">
                     <h1> {{prodName}} </h1>
                  </div>
               </div>
               <div class="buttons">
               <form role="form" action="" method="post" name="addToCart">
                   {% csrf_token %}
                   <button type="submit" name="addToCartButton" class="addtocartButton"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i><p>Toevoegen aan winkelwagentje</p></button>
               </form>
               {% if user.is_authenticated %}
    		   <form role="form" action="" method="post" name="addToWishList">
                   {% csrf_token %}
                   <button type="submit" name="addtowishlistButton" class="addtowishlistButton"><i class="fa fa-heart" aria-hidden="true"></i><p>Toevoegen aan verlanglijstje</p></button>
               </form>
               {% else %}
               {% endif %}
               </div>
            </div>
            <div class="deliveryinfo">
               <p><i class="fa fa-truck" aria-hidden="true"></i> Voor 12 uur 's middags besteld morgen in huis! </p>
            </div>
         </div>
         <div class="downsections">
		 <div class="line2"></div>
            <div class="textsection">
               <h1>Productbeschrijving</h1>
               <p>{{prodDesc}}</p>
            </div>
            <div class="authorinfosection">
                <h1>Product eigenschappen</h1>
                <p>Auteur: {{prodAuthor}}</p>
                <p>Uitgever: {{prodPublisher}}</p>
                <p>Taal: {{prodLanguage}}</p>
                <p>Publicatie datum: {{prodDate}}</p>
                <p>Aantal bladzijdes: {{prodPages}}</p>
                <p>Type: {{prodType}}</p>
                <p>Productnummer: {{prodNum}}</p>
            </div>
         </div>
      </div>
      <div class="suggesteditems">
         <div class="suggesteditemsbar">
            <h1>Suggested Products</h1>
         </div>
         <ul class="ulsugg">
            {% autoescape off %}{% suggesteditems prodName prodType %}{% endautoescape %}
         </ul>
      </div>
   </div>
   <div class="right sidecolors">
       {% include 'includes/aanbieding.html' %}
   </div>
</div>
{% endblock%}
