{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1> Retourneren & Teruggave </h1>
                </div>
                <div class="aboutwrap">
                <div class="servicetext">
                        <p>Bent u ontevreden over uw bestelling of bent u van gedachte veranderd? Dan kunt u uw bestelling terugsturen naar:</p>
                        <p><strong>Wijnhaven 107</strong>
                    <br>
                            <strong>3011 WN Rotterdam</strong></p>
                    <br>
                        <p>Zodra uw pakket bij ons geleverd is zal u op de eerstvolgende dag uw geld terug op uw persoonlijke rekening gestort krijgen.</p>
                        <p>Heeft u nog andere vragen? Neem dan gerust contact met ons op via het contact forum of stuur een email naar admin@comicfire.com!</p>
                    <br>
                    <i><b>Comicfire</b></i>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
        </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock%}