{% extends 'frames/base.html' %}
{% load shoppingcart_tags %}
{% block content %}
<div class="content">
   <div class="bars sidecolors">
      {% include 'includes/nieuwproduct.html' %}
   </div>
   <div class="aboutmid">
      <div class="qrs">
         <div class="aboutsection commontextbox">
            <div class="sorton commoncolor">
               <h1> Uw winkelwagentje: </h1>
            </div>
            <div class="aboutwrap">
                {% cartItems request.session.session_key as cartItems %}
                {% for e in cartItems %}
                   <form role='form' method='post' name='itemForm' value={{e.value}}>
                       {% csrf_token %}
                       {% autoescape off %}{% displayCart request.session.session_key user.is_authenticated %}{% endautoescape %}
                   </form>
                {% endfor %}
                {% cartEmpty request.session.session_key as cartEmptyBool %}
                <script>
                    $(function() {
                        var counter = 0;
                        $('.amountselect').each(function(i){
                            var idofselect = '#amountselect';
                            var meer = '#meer';
                            idofselect = idofselect + counter.toString();
                            meer = meer + counter.toString();
                            console.log(idofselect);
                            counter = counter + 1;
                            $(idofselect).change(function() {
                               if ($(this).val() == 'meer..') {
                                   $(idofselect).hide();
                                   $(meer).show();
                               } else {
                                   $(meer).hide();
                               }
                           });
                        });

                        console.log(counter);


                    });
                </script>
            </div>
                {% if cartEmptyBool %}
                {% else %}
                <form role="form" method="post" id="bestellen">
                    {% csrf_token %}
                    <button type="submit" name="placeorderbutton"><i class="fa fa-caret-right" aria-hidden="true"></i>Bestel</button>
                </form>
                {% endif %}
         </div>
      </div>
   </div>
   <div class="right sidecolors">
      {% include 'includes/aanbieding.html' %}
   </div>
</div>
{% endblock%}
