{% extends 'frames/base.html' %}
{% block content %}
<div class="content">
    <div class="bars sidecolors">
        {% include 'includes/nieuwproduct.html' %}
    </div>
    <div class="aboutmid">
        <div class="qrs">
            <div class="aboutsection commontextbox">
                <div class="sorton commoncolor">
                    <h1> Over ComicFire </h1>
                </div>
                <div class="aboutwrap">
                <div class="abouttext">
                <p>
                    <br>
                        Door gebruik te maken van de webshop ComicFire.com verklaard de gebruiker akkoord te gaan met de gebruikersvoorwaarden van ComicFire.com:
                    <br>
                    <br>
                        Alle gegevens en informatie (prijsinformatie inbegrepen) van, op of aangeboden via de website van ComicFire mogen niet worden gescraped, gedownload, geupload, verkocht of te koop worden aangeboden of op enige andere manier worden gebruikt, inclusief voor concurrentiegerichte doeleinden, zonder voorafgaande schriftelijke toestemming van ComicFire.
                    <br>
                    <br>
                        De producten aangeboden op ComicFire en hun licensies zijn eigendom van de oorspronkelijke uitgever. ComicFire is op geen manier aangesloten bij of gesponsord door Marvel Comics, DC Comics of andere bedrijven. Deze website maakt gebruik van de handelsmerken en andere intellectuele eigendommen van voorgenoemde uitgevers zover dat is toegestaan via speciale toestemming of via de Fan Site Policy.
                    <br>
                    <br>
                        Alle content op de website ComicFire.com is indien niet anders aangegeven eigendom van ComicFire en mag niet gedupliceerd of op andere wijze openbaar gemaakt worden zonder voorafgaande schriftelijke toestemming van ComicFire.
                    <br>
                    <br>
                </p>
                </div>
            </div>
        </div>
    </div>
        </div>
    <div class="right sidecolors">
        {% include 'includes/aanbieding.html' %}
    </div>
</div>
{% endblock%}
