<!--This order email-->
<!DOCTYPE html>
<html>
<body bgcolor="#f6f8f1">
{% load custom_tags %}
{% load shoppingcart_tags %}
{% block extrastyle %}
<style type="text/css">
</style>
{% endblock %}

    {% autoescape off %}
    <p>Beste klant,</p>
        <p></p>
    <p>U heeft zojuist een bestelling geplaatst op onze website voor de volgende producten:</p>

        <ul>
        {% for e in order %}
            <li><strong>Product: </strong>{{ e.productNum }} | <strong>Aantal: </strong>{{ e.amount }}</li>
        {% endfor %}
        </ul>

    <p>Wij streven ernaar uw bestelling binnen 2 dagen tijd bij u te leveren.</p>
    <p>Als u nog enige vragen heeft, wees dan niet bang ons te contacteren via onze online contact forum</p>
    <p>http://comicfire.com/contact/</p>
        <p></p>
    <p>Wij hopen u hierbij genoeg van dienst geweest te zijn.</p>
        <p></p>
    <p>Met vriendelijke groeten,</p>
        <p></p>
    <p><strong>Comicfire</strong></p>

<!--<img src="cid:img1.png">-->
{% endautoescape %}
</body>
</html>