<div class="navwrap"><div class="navbar">
	<ul>
	{% if user.is_authenticated %}
		{% if user.is_staff %}
        <a href="/admin/"><li><p><i class="fa fa-home" aria-hidden="true"></i>Home</p></li></a>
        <a href="/admin/searchusers/"><li><p><i class="fa fa-users" aria-hidden="true"></i>Klanten</p></li></a>
        <a href="/admin/createuser"><li><p><i class="fa fa-history" aria-hidden="true"></i>Nieuw account</p></li></a>
		<a href="/createproduct"><li><p><i class="fa fa-star" aria-hidden="true"></i>Nieuw product</p></li></a>
        <a href="#"><li><p><i class="fa fa-cog" aria-hidden="true"></i>Instellingen</p></li></a>
		{% endif %}
	{% else %}
	{% endif %}
    </ul>
</div>
</div>
