body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

.main{
	position: relative;
	height: 93vh;
	margin: 0;
	padding: 0;
	width: 100%;
}

.content{
	display: table;
	float: left;
	position: relative;
	height: 66vh;
	width: 100%;
}

.commoncolor{
	background-color: #ebe9e9;
}

.left{
	display: table-cell;
	position: relative;
	/* float: left; */
	width: 15%;
}

.aantal {
	padding: 20px;
	/* width: 100%; */
	text-align: center;
}

.aantal p{
	color: white;
	border-radius: 3px;
	margin: auto;
	display: block;
	font-size: 2.6vh;
	width: 31%;
	padding: 10px;
	background-color: #4f9373a8;
}

.middle .welcome {
	background-color; #363232
	width: 80%;
	display: block;
	margin: 0 auto;
	background-color: #5a6b63;
	width: 80%;
	padding: 20px;
	color: white;
	border: solid 0.1vh #0000001f;
	border-radius: 5px;
}

a {
	color: #58d79b;
	
}

.middle{
	display: table-cell;
	position: relative;
	background-color: #f9f9f9;
	height: 100%;
	width: 70%;
	margin: auto;
	padding-top: 5vh;
	/* padding-bottom: 10vh; */
	border-left: 0.1vh solid #c7c5c5;
	border-right: 0.1vh solid #c7c5c5;
}

.middle input[type=text]{
	height: 5vh;
	width: 80%;
	float:left;
	display: table-cell;
	margin-left: 3%;
}

.middle .searchplace{
	display: table;
	width: 100%;
	padding-bottom: 30px;
	border-bottom: solid 0.1vh #0000002e;
}

.middle .searchplace button{
	background-color: #4f9373;
	float: left;
	width: 10%;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-left: 3%;
	vertical-align: middle;
	height: 5.5vh;
	display: table-cell;
}

.table1 button{
	display: block;
	margin: 0 auto;
	background-color: #4f9373;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	vertical-align: middle;
	height: 5.5vh;
}

.middle button p{
	padding-left: 10px;
	margin: 0;
	font-size: 2vh;
}

.middle button i{
	vertical-align: top;
	padding-right: 7px;
	margin-left: -10px;
}

.sectionwrap{
	display: block;
	margin: auto;
	position: relative;
	width: 80%;
	border-radius: 5px;
	/* height: 100%; */
}

.sectionbar{
	display: block;
	width: 100%;
	text-align: center;
	height: 7vh;
	font-size: 12px;
	display: table;
	background-color: rgb(79, 147, 115);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: solid 0.1vh #00000029;
}

.sectionbar h1{
	color: white;
	display: table-cell;
	vertical-align: middle;
	font-size: 2.5vh;
	text-align: center;
}

.section{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 5vh;
	padding-bottom: 6vh;
	background-color: rgba(213, 209, 209, 0.39);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: solid 0.1vh #0000003d;
}

.sectioninput{
	display: table;
	width: 40%;
	/* height: 100%; */
	margin: 0px auto;
	vertical-align: middle;
	padding: 3vh 10vh 3vh 10vh;
	border: solid 0.2vh #80808026;
}

.sectioninput p{
	padding: 0px;
	font-size: 2.5vh;
	color: #000000c4;
	text-align: center;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.sectioninput input[type=text], .sectioninput input[type=submit], .sectioninput input[type=password]{
	display: table-cell;
	vertical-align: middle;
	height: 5vh;
	width: 100%;
	font-size: 2vh;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sectioninput button{
	width: 100%;
	height: 5vh;
	cursor: pointer;
	background-color: #4f9373;
	color: white;
	border: solid 0.1vh #0000004f;
	border-radius: 3px;
}

.right{
	display: table-cell;
	position: relative;
	height: 100%;
	width: 15%;
}

.header{
	position: relative;
	background-color: #101010d1;
	height: 20vh;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	display: table;
}

.logodiv {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 2vh;
	display: table;
	float: right;
}

.searchdiv {
	position: absolute;
	width: 100%;
	height: 50px;
	z-index: 100;
}

.userbox{
	position: absolute;
	right: 0;
	/* padding: 3vh; */
	/* padding-top: 0; */
	width: 100px;
	border-bottom-left-radius: 5px;
	height: 10vh;
	width: 30vh;
	z-index: 5;
	/* display: table; */
	/* background-color: #798c79; */
}

.userbox ul{
	display: table;
}

.userbox li{
	width: 100%;
	text-align: center;
	height: 100%;
	vertical-align: middle;
	display: table;
	border-right: solid 0.1vh #ffffff3b;
}

.userbox ul li:last-child{
	border: none;
}

.userbox a{
	display: table;
	float:left;
	vertical-align: middle;
	z-index: 300;
	text-align: center;
	margin: 0 auto;
	height: 100%;
	width: 50%;
}

.userbox ul a:last-child{
	height: 30px;
}

.userbox ul a:last-child{
	/* cursor: default; */
}

.userbox li p{
	/* display: table-cell; */
}

.userdiv p{
	display: block;
	color: white;
	font-size: 2vh;
	/* padding-right: 5px; */
	vertical-align: middle;
	/* border-right: solid 1px; */
}

.userbox i{
	padding-right: 7px;
}

#status{
	font-size: 1.5vh;
	display: block;
	color: #ffd3d3;
}

.userdiv input[type=text]{
	position: relative;
	display: table-cell;
	width: 40vh;
	height: 5vh;
	font-size: 2.5vh;
}

span{
	position: relative;
	display: table-cell;
	text-align: center;
	color: white;
	vertical-align: middle;
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

.footer{
	position: relative;
	height; 20%
	width: 100%;
	height: 100%;
}

.navwrap{
	width: 100%;
	background-color: rgb(79, 147, 115);
}

.navbar{
	position: relative;
	height: 7vh;
	margin: auto;
	width: 70%;
	display: table;
	/* border-bottom: solid 0.1vh #302e2ebd; */
	background-color: rgb(79, 147, 115);
}

.navbar p{
	font-size: 2vh;
	color: white;
	margin: 0;
}

.navbar i{
	color: #f3d995;
	padding-right: 7px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: table;
	width: 100%;
	height: 100%;
}

ul li{
	display: block;
	float: left;
	display: table;
	height: 100%;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	/* padding-right: 10px; */
	/* padding-top: 0; */
	/* padding-bottom: 0; */
}

ul li:hover{
	background-color: rgb(66, 66, 66);
}

ul li:hover > p{
	color: #ffffff;
}

ul li p{
	display: table-cell;
	vertical-align: middle;
}

footer{
	position: relative;
	margin: 0;
	padding: 0;
	height: 7vh;
}

.footer{
	display: table;
	background-color: rgb(79, 147, 115);
	margin:0;
	padding:0;
	width: 100%;
	font-size: 2vh;
	color: white;
	text-align: center;
	border-top: solid 0.1vh #00000078;
}

.footer span{
	display: table-cell;
	vertical-align: middle;
}

input[type=text], input[type=password] {
	text-align: center;
	display: inline-block;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #7d8f97, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #ede9e9;
	border: 1px solid rgb(209, 226, 233);
	color: #777;
	font: 3vh Helvetica, Arial, sans-serif;
	/* left: 26.1%; */
	top: 17%;
	width: 85%;
	padding-left: 1%;
	height: 68%;
	-webkit-box-shadow: 0 0 2px #ED1C24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 1px #7b825a inset;
	background-color: #ffffff;
	border: 0.1vh solid #d9d2d2;
	transition: all 1.1s ease;
	outline: none;
	font-size: 12px;
}

input[type=text]::placeholder, input[type=password]::placeholder {
	color: rgba(128, 128, 128, 0.51);
	font-size: 2vh;
}

.table1 table{
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	width: 100%;
	border-top: black solid 1px;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin: 0px;
	border: none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	height: 100%;
	/* border-radius:3px; */
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.table1  table th {
	padding: 21px 10px 22px 10px;
	border-top: solid 0.8px rgba(0, 0, 0, 0.11);
	border: solid 0.8px rgba(0, 0, 0, 0.11);
	/* background: #ededed; */
	background: #457960;
	text-shadow: none;
	color: white;
}
.table1 table th:first-child {
	text-align: center;
	/* padding-left:20px; */
}
.table1 table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	/* -webkit-border-top-left-radius:3px; */
	/* border-top-left-radius:3px; */
}
.table1 table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	/* -webkit-border-top-right-radius:3px; */
	/* border-top-right-radius:3px; */
}

.table1 table tr {
	text-align: center;
	/* padding-left:20px; */
}

.table1 td i{
	float: left;
	font-size: 18px;
	line-height: 14px;
}

.table1 table td:first-child {
	text-align: center;
	padding-left:20px;
	border-left: 0;
}

.table1 table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

.table1 table td img{
	width: 80px;
	display: inline-block;
	float: left;
}

.table1 table td p{
	text-align: center;
	line-height: 130px;
}

.table1 table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeded), to(#e5e3e3));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.table .even{
	background-color: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
}

.table1 table tr:last-child td {
	border-bottom:0;
}

.table1 table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}

.table1 table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}

.table1 table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
