<div class="footer commoncolor">
    <script type="text/javascript" src="http://www.wemoney.nl/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="http://www.wemoney.nl/smoothproducts.min.js"></script>
<script type="text/javascript">
    $(window).load( function() {
        $('.sp-wrap').smoothproducts();
    });
</script>
	{% load static %}
    <img src="{% static 'images/groot.png' %}" style="position: absolute;height: 100%;right: 0;top: 64;">
		<p id="footcopy">© Keyboard Warriors 2017</p>
			<div class="ftcols">
				<ul class="footnav">
					<li class="footnavitem">
						<h2 class="footer-nav__title"><a href="/contact">
						<h1>Klantenservice</h1></a></h2>
						<ul class="footer-subnav [ sb-list sb-dot ]">
							<li>
								<a href="/contact">
								<p>Contact</p></a>
							</li>
							<li>
								<a href="">
								<p>Account</p></a>
							</li>
						</ul>
					</li>
					<li class="footnavitem">
						<h2 class="footer-nav__title"><a href="/about">
						<h1>ComicFire</h1></a></h2>
						<ul class="footer-subnav [ sb-list sb-dot ]">
							<li>
								<a href="/about">
								<p>Over ons</p></a>
							</li>
                            <li>
								<a href="/faq">
								<p>Veel gestelde vragen</p></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
	</div>
