	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="FilmShop" name="description">
	<meta content="films,movies,buy movies,buy films" name="keywords">
	<meta content="Keyboard Warriors Inc." name="author">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script> 
	$(document).ready(function(){
		$(".questions").click(function(){
			$("#.panel").slideDown("slow");
		});
	});
	</script> 
	<link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	<style>
	@import url('https://fonts.googleapis.com/css?family=Raleway');
	</style>
	<script src="https://use.fontawesome.com/b50eef71ef.js">
	</script>
	<link href="https://use.fontawesome.com/b50eef71ef.css" media="all" rel="stylesheet">
	<title>ComicShop</title>
