<div class="header">
    {% if user.is_authenticated %}
    <div class="logowrap commoncolor">
        <div class="logo">
            {% load static %}
            <a href="/">
            <img src="{% static 'images/comicfirelogo3.png' %}">
            </a>
        </div>
    </div>
    <div class="headmid">
        <form name="searchForm" action="" method="post" id="srchform">
            {% csrf_token %}
            <input type="text" id="searchbar" name="searchtext" placeholder="Deadpool vs The Punisher">
            <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" id="srchbutton">
        </form>
        <div class="cart">
            <a href="/winkelwagentje/">
            <i class="fa fa-shopping-cart" aria-hidden="true" id="cartid"></i>
            </a>
        </div>
    </div>
    <div class="usersection">
        <div class="user">
            <p>{{ user.get_username }}</p>
        </div>
        <div class="forlogin">
            <p class="lgntext commoncolor"><i class="fa fa-sign-out" aria-hidden="true"></i><a class="logout" href="/logout">Logout</a></p>
        </div>
    </div>
    {% else %}
    <div class="logowrap commoncolor">
        <div class="logo">
            {% load static %}
            <a href="/">
            <img src="{% static 'images/comicfirelogo3.png' %}">
            </a>
        </div>
    </div>
    <div class="headmid">
        <form name="searchForm" action="" method="post">
            {% csrf_token %}
            <input type="text" id="searchbar" name="searchtext" placeholder="Deadpool vs The Punisher">
            <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" id="srchbutton">
        </form>
        <div class="cart">
            <a href="/winkelwagentje/">
            <i class="fa fa-shopping-cart" aria-hidden="true" id="cartid"></i>
            </a>
        </div>
    </div>
    <div class="register">
        <a href="/register">
            <p class="lgntext commoncolor"> <i class="fa fa-user-plus" aria-hidden="true"></i>Registreren </p>
        </a>
    </div>
    <div class="forlogin1">
        <a href="/login">
            <p class="lgntext commoncolor"><i class="fa fa-sign-in" aria-hidden="true"></i> Inloggen </p>
        </a>
    </div>
    {% endif %}
</div>
