<div class="nav commoncolor">
    <ul>
        <a href="#"> <li>
            <p><i aria-hidden="true" class="fa fa-list"></i>Categorieën<i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i>
            </p>
    </li>
        </a>
        <a href="#"><li>
            <p><i aria-hidden="true" class="fa fa-fire"></i>Uitverkoop</p>
        </li></a>
        <a href="/about"><li>
            <p><i aria-hidden="true" class="fa fa-info"></i>Over ComicFire<i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i>
            </p>
        </li></a>
        <a href="/faq"><li>
            <p id="faq"><i aria-hidden="true" class="fa fa-question"></i>FAQ
            </p>
        </li></a>
        
<a href="/contact"><li><p id="contact"><i aria-hidden="true" class="fa fa-envelope"></i>Contact</p></li></a>

    </ul>
</div>