<div class="nav commoncolor">
    <p><i aria-hidden="true" class="fa fa-list"></i><a href="#">Categorieën</a><i aria-hidden="true" class="fa fa-sort-desc" id="sortdown"></i>
    </p>
    <p id="sales"><i aria-hidden="true" class="fa fa-fire"></i><a href="#">Uitverkoop</a>
    </p>
    <p><i aria-hidden="true" class="fa fa-info"></i><a href="#">Over ComicFire</a>
    </p>
    <p class="" id="faq"><i aria-hidden="true" class="fa fa-question"></i><a href="/faq">FAQ</a>
    </p>
    <p id="contact"><i aria-hidden="true" class="fa fa-envelope"></i><a href="/contact">Contact</a>
    </p>
</div>