{% extends "admin/frames/adminbase.html" %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <div class="middle" style="background-color: #ebe9e9; border: none;">
	{% if user.is_authenticated %}
	<div class="welcome">
		{% if user.is_staff %}
				<p>Welkom {{ user.first_name }} !</p>
				<p>Op dit paneel kunt u admin handelingen verrichten zoals gebruikers en orders aanpassen en/of verwijderen.</p>
				<p>Klik op het menu-optie "Klanten" om te beginnen, of klik <b><a href='/admin/searchusers/'>hier</a></b></p>
		{% else %}
				<p>Helaas bent u niet bevoegd.</p>
		{% endif %}
	</div>
	{% else %}
	<div class="sectionwrap"><div class="sectionbar">
	<h1>Inloggen</h1>
	<form method="POST">
		{% csrf_token %}
		</div><div class="section"><div class="sectioninput">{{ form.as_p }}<button type="submit" name="loginbutton">Login</button></div></div></div>
	</form>
	{% endif %}
	</div>
{% endblock %}
