{% extends "admin/frames/adminbase.html" %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <div class="left commoncolor"></div>
    <div class="middle"><div class="sectionwrap"><div class="sectionbar"><h1>Inloggen</h1></div><div class="section"><div class="sectioninput"><p>Email</p><input type="text" placeholder="thelegend27@gmail.com"><p>Wachtwoord</p><input type="password" placeholder="**********"><input type="submit"></div></div></div></div>
		<div class="right commoncolor"></div>
{% endblock %}
