{% extends "admin/frames/adminbase.html" %}
{% load admin.adminproducttags %}
{% load static %}
{% block content %}

    <div class="middle" style="border: none; background-color: #ebe9e9;">
		<div class="edit">
        {% productFound item as productFoundBool %}

        {% if productFoundBool %}
            <p id="editp">Editten van product {{ item }}:</p>
            <form method="POST" id="form1">
                {% csrf_token %}
                {{product_form.as_p}}
                <input type="submit" id="editproductsubmit" name="editproduct">
            </form>
        {% else %}
            <div>Er is geen product gevonden met dit id.</div>
        {% endif %}

        </div>
		</div>
{% endblock %}
