{% extends "admin/frames/adminbase.html" %}
{% load admin.adminusertags %}
{% load static %}
{% block content %}


    <div class="left commoncolor">

    </div>
    <div class="middle" style="border: none; background-color: #ebe9e9;">
		<div class="edit">
        {% userFound userid as usersFoundBool %}
        {% if usersFoundBool %}
            <p id="editp">Editten van gebruiker {{ userid }}:</p>
            <form method="POST" id="form1">
                {% csrf_token %}
                {{user_form.as_p}}
                <input type="submit" id="editusersubmit" name="edituser">
            </form>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="deleteuser" value='{{userid}}' class="remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Verwijder gebruiker
                </button>
            </form>
        {% else %}
            <div>Er is geen gebruiker gevonden met dit id.</div>
        {% endif %}

        </div>
		</div>
    <div class="right commoncolor">

    </div>
{% endblock %}
