{% extends "admin/frames/adminbase.html" %}
{% load admin.adminusertags %}
{% load static %}
{% load chartit %}
{{ graph|load_charts:"lel" }}
{% block content %}
	{% if user.is_authenticated %}
		{% if user.is_staff %}
		<div class="middle">
            <div id="lel">Chart will be loaded here</div>
        </div>
		{% else %}
		<div class="middle" style="background-color: #ebe9e9; border: none;">
				<div class="welcome">
				<p>Helaas bent u niet bevoegd.</p>
				</div>
		{% endif %}
	{% else %}
	<div class="middle" style="background-color: #ebe9e9; border: none;">
	<p style="margin-left: 50px;">Redirecting...</p>
	<script>
		$(location).attr('href', '/admin/');
	</script>
	{% endif %}
    </div>
{% endblock %}
