{% extends "admin/frames/adminbase.html" %}
{% load admin.adminusertags %}
{% load static %}
{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("visualization", "1", {packages:["corechart"]});</script>
	{% if user.is_authenticated %}
		{% if user.is_staff %}
		<div class="middle">
            {% if warning != null %}
                <p>{{ warning }}</p>
            {% endif %}
            * <a href="/admin/data/products/2017/11/">November 2017</a>
            * <a href="/admin/data/products/2017/12/">December 2017</a>
        </div>
		{% else %}
		<div class="middle" style="background-color: #ebe9e9; border: none;">
				<div class="welcome">
				<p>Helaas bent u niet bevoegd.</p>
				</div>
		{% endif %}
	{% else %}
	<div class="middle" style="background-color: #ebe9e9; border: none;">
	<p style="margin-left: 50px;">Redirecting...</p>
	<script>
		$(location).attr('href', '/admin/');
	</script>
	{% endif %}
    </div>
{% endblock %}
