{% extends "admin/frames/adminbase.html" %}
{% load admin.adminusertags %}
{% load static %}
{% block content %}

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <div class="left commoncolor">

    </div>
    <div class="middle">
	{% if user.is_authenticated %}
		{% if user.is_staff %}
				<form method="GET">
					Search query: <input type="text" name="query" pattern="[a-zA-Z0-9@.]+" title="Gebruikers ID, e-mail of naam">
					<input type="submit">
				</form>

				{% userFound query as usersFoundBool %}
				{% if usersFoundBool %}
				<p>Resultaten voor {{ query }}:</p>
				{% autoescape off %}{% displayResults query %}{% endautoescape %}
				{% else %}
				<div>Oeps niets gevonden!</div>
				{% endif %}
		{% else %}
				<p>Helaas ben u niet bevoegd.</p>
		{% endif %}
	{% else %}
	<div class="sectionwrap"><div class="sectionbar"><h1>Inloggen</h1></div><div class="section"><div class="sectioninput"><p>Email</p><input type="text" placeholder="thelegend27@gmail.com"><p>Wachtwoord</p><input type="password" placeholder="**********"><input type="submit"></div></div></div>
	
	{% endif %}
    </div>
    <div class="right commoncolor">

    </div>
{% endblock %}
